{% extends 'myapp/base.html' %}
{% load static %} 
{% block content%}
<div class="container">
  <div class="text-warning mb-4 mt-4 border-bottom "><h2>Education</h2></div>
  <div class="row">
    <div class="col-sm-4 mb-3">
      <div class="container">      
        <p style = "font-family:georgia,garamond,serif;font-size:16px;">
        <div class="text-warning mb-5"><h4>Higher School Education :</h4></div>
        <div class="text-warning mb-5 "><h4>Sr.Sec. School Education:</h4></div>
        <div class="text-warning mb-5 "><h4>Graduation  :</h4></div>
        <div class="text-warning mb-5 "><h4>Work Experience  :</h4></div>
        <div class="text-warning mb-5 "><h4>Projects  :</h4></div>
      </div>
    </div> 
    <div class="col-sm-8 mb-3">
      <div class="container">
        <div class="text-light mt-3 mb-5"><h5>Shanti Devi Memorial Govt. Girls High School,Tapa Mandi,Barnala
                    (Session:2016-17)</h5></div>
        <div class="text-light mb-5 mt-3"><h5>Senior Secondary Residential School For Meritorious Students,Patiala
          (Session:2018-19)</h5></div>
        <div class="text-light mb-5 mt-3"><h5>Bacholar of Science (Non-medical with CS) at
          Akal Degree College,Mastuana(Sangrur)  (Session:2021-22)</h5></div>
        <div class="text-light mb-5 mt-3"><h5>Training at Thinknext Private Limited,Mohali. It is a
            three months training in Python with Django</h5>
        <div class="text-light mb-5 mt-4"><h5>GUI based simple calculator using tkinter,blog project using django,portfolio project using django</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}